<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商品添加</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen" />
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen" />

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript"
            src="resources/scripts/jquery-1.3.2.min.js"></script>
    <!-- jQuery Configuration -->
    <script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>
</head>
<body>
<div id="main-content">
    <div class="content-box">
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab2">
                <form action="/goods/add" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
                        <p>
                            <label>商品标题</label> <input
                                class="text-input small-input" type="text" id="title_id"
                                name="title" />
                        </p>
                        <p>
                            <label>商品图片</label> <input
                                class="text-input medium-input datepicker" type="file"
                                id="gfile_id" name="gfile" />
                        </p>
                        <p>
                            <label>库存</label> <input
                                class="text-input large-input" type="text" id="gcount_id"
                                name="gcount" />
                        </p>
                        <p>
                            <label>原价</label> <input
                                class="text-input large-input" type="text" id="allprice_id"
                                name="allprice" />
                        </p>
                        <p>
                            <label>折后价</label> <input
                                class="text-input large-input" type="text" id="price_id"
                                name="price" />
                        </p>
                        <p>
                            <label>描述</label>
                            <textarea class="text-input textarea wysiwyg" id="ginfo_id"
                                      name="ginfo" cols="79" rows="15"></textarea>
                        </p>
                        <p>
                            <input class="mybutton" type="submit" value="Submit" />
                        </p>
                    </fieldset>
                    <div class="clear"></div>
                    <!-- End .clear -->
                </form>
            </div>
            <!-- End #tab2 -->
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!-- End #main-content -->
</body>
</html>